body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    max-width: 100%;
    height: auto;
}

.form {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    margin-bottom: 20px;
}

.title h1 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.gender-group {
    display: flex;
    align-items: center;
}

.gender-group input[type="radio"] {
    margin-right: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}